@model IEnumerable<Asignatura>;

@{
    ViewData["Title"] = "Informacion Asignatura";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista normal</strong>

@*@foreach (var asignatura in Model){*@
    <partial name="ListaObjetoEscuela"/>
@*}*@

<p><i>@ViewBag.Fecha</i></p>